<template>
    <v-row>
        <v-col>
            <v-card :loading="load">
                <v-card-title>
                    Список ip телефонов
                    <v-spacer/>
                    <v-btn v-on:click="updatephone">Обновить</v-btn>
                </v-card-title>
                <v-card-text>
                    <v-row>
                        <v-col cols="12" sm="6" md="12">
                            <v-text-field
                                v-model="search"
                                append-icon="mdi-magnify"
                                label="Поиск"
                                single-line
                                hide-details
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="12">
                            <v-data-table
                                dense
                                :headers="headers"
                                :items="desserts"
                                :search="search"
                            ></v-data-table>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
export default {
    name: 'ipphone',
    data () {
      return {
            load: true,
            search: '',
            headers: [
                {
                        text: 'Номер',
                        align: 'start',
                        value: 'number',
                    },
                    { text: 'ФИО', value: 'pers' },
                    { text: 'Отдел', value: 'deps' },
            ],
            desserts: [],

      }
    },
    methods: {
        updatephone: function () {
            let self = this;
            var url = 'phones/';
            this.axios({url: url}).then(function(response) {
                self.load = false;
                self.desserts = response['data']
            })
        }
    },
    mounted: function () {
        let self = this;
        var url = 'phones/';
        this.axios({url: url}).then(function(response) {
            self.load = false;
            self.desserts = response['data']
        })
    }
}
</script>
