<template>
  <v-app>
    <v-app-bar app>
        <v-tabs align-with-title>
          <v-tab><router-link to="/">IP телефония</router-link></v-tab>
        </v-tabs>
    </v-app-bar>
    <v-main>
      <v-sheet
        id="scrolling-techniques-3"
        class="overflow-y-auto"
        max-height="600"
      >
      <v-container fluid>
        <router-view/>
      </v-container>
      </v-sheet>
    </v-main>
  </v-app>
</template>
